# Environment variables for the application. Copy this file to .env and fill in the values.

# The root URL of the Wordpress API that the application will communicate with.
VITE_API_ROOT_URL=https://example.com