@use "~styles/variables" as *;
@use "~styles/mixins" as *;

.icon-link {
  $size: 1.75em;

  align-items: center;
  background: inherit;
  border-radius: 50%;
  color: var(--color-primary);
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  height: $size;
  justify-content: center;
  width: $size;

  &--disabled {
    @include for-disabled;
  }

  &--small {
    font-size: $font-size-xs;
  }

  &--normal {
    font-size: $font-size-md;
  }

  &--big {
    font-size: $font-size-xl;
  }

  &:hover {
    background-color: var(--background-controls);
    text-decoration: none;
  }
}